@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');


/* Shared style */
*{
    font-family: "Jost", sans-serif;
    margin: 0;
    padding: 0;
}
section{
    margin-top: 50px;
}
:root{
    --primary-color: rgb(230, 83, 60);
}
.text-center{
    text-align: center;
}
.white{
    color: white;
}
.gray1{
    color: rgba(255, 255, 255, 0.5)
}
.flex{
    display: flex;
}
.grid{
    display: grid;
}
header{
    background: linear-gradient(90.00deg, rgb(17, 17, 17),rgba(19, 19, 19, 0.8) 100%);
}
body{
    background-color: black;
}
.large{
    max-width: 1140px;
    margin: 0 auto;
}
.btn-primary{
    background-color: rgb(230, 83, 60);
    padding: 16px 40px;
    border: 1px solid rgb(230, 83, 60);
    border-radius: 40px;
}
.btn-secondary{
    background-color: rgb(0, 0, 0);
    padding: 16px 40px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 40px;
}
button>a{
    color: white;
    font-size: 1rem;
    text-decoration: none;
}
.section-title{
    font-size: 4rem;
    line-height: 70px;
}
.section-description{
    font-size: 1rem;
    margin: 25px 0;
    font-weight: 300;
}



/* header style */
header{
    margin-top: 30px;
}
.header-container{
    justify-content: space-between;
    align-items: center;
}
.site-title{
    font-weight: bold;
    color: var(--primary-color);
}
.menu-items{
    gap: 30px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.158);
    padding: 5px 10px;
    border-radius: 40px;
}
.menu-items>li{
    list-style-type: none;
}
.menu-items li>a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.menu-items li:nth-child(1){
    background-color: var(--primary-color);
    padding: 2.5px 20px;
    border-radius: 40px;
}

/* hero section */
.hero-container{
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
.hero-title{
    font-size: 78px;
    font-weight: 900;
    line-height: 70px;
    margin: 25px 0;
}
.cursive{
    font-family: "Cedarville Cursive", cursive;
    font-weight: 500;
    font-size: 95px;
}

.hero-image-container{
    position: relative;
}
.hero-image-container .videos{
    position: absolute;
    top: 150px;
    right: -70px;
}


.hero-image-container .videos,.tutorial{
    display: relative;
    width: 170px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 15px 25px;
    border-radius: 12px;
}
.icon-container{
    background-color: var(--primary-color);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
}
.description{
    font-size: 12px;
}

.tutorial{
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 50px;
    left: -50px;
}


/* change your habit */

.habit img{
    border-radius: 50%;
    border: 3px solid  rgba(255, 255, 255, 0.158);;
}

.habit-box{
    margin-top: 50px;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.habit-name{
    margin-top: 20px;
}
.habit-description{
    font-size: 1rem;
    margin: 10px 0;
    font-weight: 300;
}

/* Run an extra mile easily */
.run-container{
    background-color: rgb(34, 34, 34);
    border-radius: 18px;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
}
.text-container{
    width: 50%;
}

.image-container{
    height: 310px;
    width: 370px;
    border-radius: 20px;
    background-image: url("../images/run.jpg");
    background-position: 68% 30%;
    background-repeat: no-repeat;
}



/* trainning and exercise */
.row1{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "squats push push jumping";
    width: 100%;
    height: 100px;
    gap: 0;  
}
.squats{
    grid-area: squats;
    position: relative;
    width: 100%;
    height: 200px;
    background:  rgba(6, 255, 210, 0.5) url(../images/exercise1.jpg);
    background-blend-mode: overlay;
    background-size: 110%;
}
.squats .exercise-name{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.push{
    grid-area: push;
    position: relative;
    width: 100%;
    height: 200px;
    background:  rgba(255, 0, 0, 0.3) url(../images/exercise2.png);
    background-blend-mode: overlay;
    background-size: 110%;
}

.push .exercise-name{
    position: absolute;
    top: 20px;
    left: 20px;
}

.jumping{
    grid-area: jumping;
    position: relative;
    width: 100%;
    height: 200px;
    background:  rgba(0, 0, 0, 0.5) url(../images/exercise3.png);
    background-blend-mode: overlay;
    background-size: 110%;
}

.jumping .exercise-name{
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.row2{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "leg press pull";
    width: 100%;
    height: 100px;
    gap: 0;   
    margin-top: 100px;
}
.leg{
    grid-area: leg;
    position: relative;
    width: 100%;
    height: 200px;
    background:  rgba(0, 0, 0, 0.5) url(../images/exercise4.png);
    background-blend-mode: overlay;
    background-size: 110%;
}
.leg .exercise-name{
    position: absolute;
    top: 20px;
    right: 20px;
}
.press{
    grid-area: press;
    position: relative;
    width: 100%;
    height: 200px;
    background:  rgba(66, 255, 0, 0.3) url(../images/exercise5.jpg);
    background-blend-mode: overlay;
    background-size: 110%;
}

.press .exercise-name{
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.pull{
    grid-area: pull;
    position: relative;
    width: 100%;
    height: 200px;
    background:  rgba(0, 71, 255, 0.3) url(../images/exercise6.jpg);
    background-blend-mode: overlay;
    background-size: 110%;
}

.pull .exercise-name{
    position: absolute;
    bottom: 20px;
    left: 20px;
}